// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map { 
  height: 100%; 
  z-index: 0;
}

#visible {
  z-index: 100;
  top: 60px;
  left: 60px;
}
